---
layout: archive
title: "Teaching"
permalink: /teaching/
author_profile: true
---

{% include base_path %}

{% for post in site.teaching reversed %}
  {% include archive-single.html %}
{% endfor %}
As a Teaching Assistant at the Georg-August-Universität Göttingen from April to September 2023, I was responsible for designing and grading homework for the course "Python Programming for Data Science." This role allowed me to tailor assignments that challenged students to apply Python programming to real-world data science problems, enhancing their analytical and coding skills. Prior to this, from September 2020 to December 2021, I served as a Teaching Assistant at the University of Tehran, where I designed and graded homework for both "Python Programming" and "Dynamics of Biological Systems" courses. In these roles, I gained valuable experience in creating educational materials that bridge computational methods and biological systems, further strengthening my ability to communicate complex concepts effectively and support students in their academic growth.
